@media(width > 600px){
    html, body {
        background: papayawhip;
        color: hsl(30, 10%, 34%);

        font-family: Outfit, sans-serif;
        font-weight: 400;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        width: auto;
        height: auto;

    }

    .main {

        width: 50%;
        height: 50%;

        margin-top: 5%;
        margin-bottom: 5%;


        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;


        background: white;

        padding: 50px;
    }

    .top, .instr, .prep, .ingr, .nutr, .omlet {
        width: 100%;
        height: 100%;

        margin: 1%;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .top p {
        margin-left: 5px;
    }


    .prep {
        background: hsl(330, 100%, 98%);
        border-radius: 15px;
    }

    .prep h3, li {
        padding-left: 20px;
        padding-top: 5px;
    }

    .ingr li::marker {
        padding-left: 5px;
    }

    .ingr, .instr {
        border-bottom: 1px solid hsl(30, 18%, 87%);
    }

    .instr li {
        padding-left: 20px;
    }

    table {
        width: 100%;
        line-height: 200%;
        border-collapse: collapse;
    }

    table td {
        padding: 10px;
        border-bottom: 1px solid hsl(30, 18%, 87%);

    }

    .value {
        font-weight: bold;
        color: hsl(14, 45%, 36%);
    }

    table .value:nth-child(odd) {
        font-weight: bold;
    }

    li {
        line-height: 1.5;
        padding-left: 15px;
    }

    li::marker {
        color: hsl(14, 45%, 36%);
        font-weight: bold;
    }

    h1 {
        color: black;
        font-family: Young Serif, serif;

        padding-left: 5px;
    }

    .glowny {
        font-size: 50px;
    }

    .naglowek {
        color: hsl(14, 45%, 36%);
        margin-bottom: 10px;
        font-size: 35px;
        font-family: Young Serif, serif;
    }

    h3 {
        color: hsl(332, 51%, 32%);
    }

    p {
        font-size: 16px;
    }

    b {
        color: hsl(30, 10%, 34%);
    }


}

@media (max-width: 600px) {
    html, body {
        color: hsl(30, 10%, 34%);

        font-family: Outfit, sans-serif;
        font-weight: 400;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        width: auto;
        height: auto;

    }

    .main {

        width: auto;
        height: auto;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        background: white;
    }

    .top, .instr, .ingr, .nutr{
        width: 75%;
    }

    .prep{
        width: 75%;
    }
    .omlet{
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height:100%;
    }

    .top p {
        margin-left: 3%;
    }

    .prep {
        background: hsl(330, 100%, 98%);
        border-radius: 15px;
    }

    .prep h3, li {
        padding-left: 20px;
        padding-top: 5px;
    }

    .ingr li::marker {
        padding-left: 5px;
    }

    .ingr, .instr {
        border-bottom: 1px solid hsl(30, 18%, 87%);
    }

    .instr li {
        padding-left: 20px;
    }

    table {
        width: 100%;
        line-height: 200%;
        border-collapse: collapse;
    }

    table td {
        padding: 10px;
        border-bottom: 1px solid hsl(30, 18%, 87%);

    }

    .value {
        font-weight: bold;
        color: hsl(14, 45%, 36%);
    }

    table .value:nth-child(odd) {
        font-weight: bold;
    }

    li {
        line-height: 1.5;
        padding-left: 15px;
    }

    li::marker {
        color: hsl(14, 45%, 36%);
        font-weight: bold;
    }

    h1 {
        color: black;
        font-family: Young Serif, serif;

        padding-left: 5px;
    }

    .glowny {
        font-size: 50px;
    }

    .naglowek {
        color: hsl(14, 45%, 36%);
        margin-bottom: 10px;
        font-size: 35px;
        font-family: Young Serif, serif;
    }

    h3 {
        color: hsl(332, 51%, 32%);
    }

    p {
        font-size: 16px;
    }

    b {
        color: hsl(30, 10%, 34%);
    }

}
